<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-entitlement-value-heading" jhiTranslate="leaveApplicationApp.entitlementValue.home.createOrEditLabel">Create or edit a Entitlement Value</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="leaveApplicationApp.entitlementValue.entitlementValue" for="field_entitlementValue">Entitlement Value</label>
                    <input type="number" class="form-control" name="entitlementValue" id="field_entitlementValue"
                           formControlName="entitlementValue"/>
                    <div *ngIf="editForm.get('entitlementValue')!.invalid && (editForm.get('entitlementValue')!.dirty || editForm.get('entitlementValue')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entitlementValue')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('entitlementValue')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="leaveApplicationApp.entitlementValue.entitlement" for="field_entitlement">Entitlement</label>
                    <select class="form-control" id="field_entitlement" name="entitlement" formControlName="entitlementId">
                        <option *ngIf="!editForm.get('entitlementId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="leaveEntitlementOption.id" *ngFor="let leaveEntitlementOption of entitlements; trackBy: trackById">{{ leaveEntitlementOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('entitlementId')!.invalid && (editForm.get('entitlementId')!.dirty || editForm.get('entitlementId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('entitlementId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="leaveApplicationApp.entitlementValue.staff" for="field_staff">Staff</label>
                    <select class="form-control" id="field_staff" name="staff" formControlName="staffId">
                        <option *ngIf="!editForm.get('staffId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="staffOption.id" *ngFor="let staffOption of staff; trackBy: trackById">{{ staffOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('staffId')!.invalid && (editForm.get('staffId')!.dirty || editForm.get('staffId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('staffId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
