<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entitlementValue">
            <h2><span jhiTranslate="leaveApplicationApp.entitlementValue.detail.title">Entitlement Value</span> {{ entitlementValue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="leaveApplicationApp.entitlementValue.entitlementValue">Entitlement Value</span></dt>
                <dd>
                    <span>{{ entitlementValue.entitlementValue }}</span>
                </dd>
                <dt><span jhiTranslate="leaveApplicationApp.entitlementValue.entitlement">Entitlement</span></dt>
                <dd>
                    <div *ngIf="entitlementValue.entitlementId">
                        <a [routerLink]="['/leave-entitlement', entitlementValue.entitlementId, 'view']">{{ entitlementValue.entitlementId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="leaveApplicationApp.entitlementValue.staff">Staff</span></dt>
                <dd>
                    <div *ngIf="entitlementValue.staffId">
                        <a [routerLink]="['/staff', entitlementValue.staffId, 'view']">{{ entitlementValue.staffName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entitlement-value', entitlementValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
