<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="leaveEntitlement">
            <h2><span jhiTranslate="leaveApplicationApp.leaveEntitlement.detail.title">Leave Entitlement</span> {{ leaveEntitlement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.entitlementDate">Entitlement Date</span></dt>
                <dd>
                    <span>{{ leaveEntitlement.entitlementDate }}</span>
                </dd>
                <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.days">Days</span></dt>
                <dd>
                    <span>{{ leaveEntitlement.days }}</span>
                </dd>
                <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.leaveType">Leave Type</span></dt>
                <dd>
                    <div *ngIf="leaveEntitlement.leaveTypeId">
                        <a [routerLink]="['/leave-type', leaveEntitlement.leaveTypeId, 'view']">{{ leaveEntitlement.leaveTypeName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.staff">Staff</span></dt>
                <dd>
                    <div *ngIf="leaveEntitlement.staffId">
                        <a [routerLink]="['/staff', leaveEntitlement.staffId, 'view']">{{ leaveEntitlement.staffName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/leave-entitlement', leaveEntitlement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
