<div>
  <h2 id="page-heading" data-cy="LeaveApplicationHeading">
    <span jhiTranslate="leaveApplicationApp.leaveApplication.home.title">Leave Applications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="leaveApplicationApp.leaveApplication.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave-application"
        [routerLink]="['/leave-application/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="leaveApplicationApp.leaveApplication.home.createLabel"> Create a new Leave Application </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="leaveApplications?.length === 0">
    <span jhiTranslate="leaveApplicationApp.leaveApplication.home.notFound">No leaveApplications found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="leaveApplications && leaveApplications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="staff.name">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.staff">Staff</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="days">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.days">Days</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="leaveType.name">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.leaveType">Leave Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="leaveStatus.name">
            <span jhiTranslate="leaveApplicationApp.leaveApplication.leaveStatus">Leave Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaveApplication of leaveApplications; trackBy: trackId" data-cy="entityTable">
          <td>
            <div *ngIf="leaveApplication.staff">
              <a [routerLink]="['/staff', leaveApplication.staff?.id, 'view']">{{ leaveApplication.staff?.name }}</a>
            </div>
          </td>
          <td>{{ leaveApplication.startDate | formatMediumDate }}</td>
          <td>{{ leaveApplication.endDate | formatMediumDate }}</td>
          <td>{{ leaveApplication.days }}</td>
          <td>
            <div *ngIf="leaveApplication.leaveType">
              <a [routerLink]="['/leave-type', leaveApplication.leaveType?.id, 'view']">{{ leaveApplication.leaveType?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leaveApplication.leaveStatus">
              <a [routerLink]="['/leave-status', leaveApplication.leaveStatus?.id, 'view']">{{ leaveApplication.leaveStatus?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/leave-application', leaveApplication.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/leave-application', leaveApplication.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(leaveApplication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="leaveApplications && leaveApplications.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
