<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="comment">
      <h2 data-cy="commentDetailsHeading"><span jhiTranslate="leaveApplicationApp.comment.detail.title">Comment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ comment.id }}</span>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.comment.comment">Comment</span></dt>
        <dd>
          <span>{{ comment.comment }}</span>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.comment.leaveApplication">Leave Application</span></dt>
        <dd>
          <div *ngIf="comment.leaveApplication">
            <a [routerLink]="['/leave-application', comment.leaveApplication?.id, 'view']">{{ comment.leaveApplication?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.comment.user">User</span></dt>
        <dd>
          <span>{{ comment.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/comment', comment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
