/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 500px;
  height: 500px;
  background: url('../../content/images/Travel-500px.jpg') no-repeat center top;
  background-size: contain;
}

.dash {
  padding: 5px;
  margin: 5px;
  width: 100%;
}

h1 {
  text-decoration: underline;
  font: 22pt;
}

.tbl {
  width: 100%;
  border: 1mm solid black;
}

th {
  color: grey;
  text-decoration: underline;
}

table,
th,
td {
  border: 0.5mm solid black;
  text-align: center;
  padding: 5px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/Travel-1000px.jpg') no-repeat center top;
    background-size: contain;
  }
}
