<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="leaveEntitlement">
      <h2 data-cy="leaveEntitlementDetailsHeading">
        <span jhiTranslate="leaveApplicationApp.leaveEntitlement.detail.title">Leave Entitlement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ leaveEntitlement.id }}</span>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.entitlementDate">Entitlement Date</span></dt>
        <dd>
          <span>{{ leaveEntitlement.entitlementDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.days">Days</span></dt>
        <dd>
          <span>{{ leaveEntitlement.days }}</span>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.leaveType">Leave Type</span></dt>
        <dd>
          <div *ngIf="leaveEntitlement.leaveType">
            <a [routerLink]="['/leave-type', leaveEntitlement.leaveType?.id, 'view']">{{ leaveEntitlement.leaveType?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="leaveApplicationApp.leaveEntitlement.staff">Staff</span></dt>
        <dd>
          <div *ngIf="leaveEntitlement.staff">
            <a [routerLink]="['/staff', leaveEntitlement.staff?.id, 'view']">{{ leaveEntitlement.staff?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/leave-entitlement', leaveEntitlement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
