name: Build CI
on: [push, pull_request]
jobs:
    test-fe:
        name: Test Front-end
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]')"
        timeout-minutes: 20
        env:
            NODE_VERSION: 14.16.0
            JHI_DISABLE_WEBPACK_LOGS: true
            NG_CLI_ANALYTICS: false
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14.16.0
            - name: Install node.js packages
              run: npm install
            - name: Run frontend test
              run: npm run ci:frontend:test
    test-be:
        name: Test Back-end
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]')"
        timeout-minutes: 20
        env:
            SPRING_OUTPUT_ANSI_ENABLED: DETECT
            SPRING_JPA_SHOW_SQL: false
            JHI_DISABLE_WEBPACK_LOGS: true
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v1
              with:
                  java-version: '11.x'
            - name: Make mvnw executable
              run: chmod +x mvnw
            - name: Run enforcer checks
              run: |
                chmod +x mvnw
                ./mvnw -ntp enforcer:display-info --batch-mode
            - name: Run JavaDoc tests
              run: ./mvnw -ntp javadoc:javadoc --batch-mode
            - name: Verify the application
              run: > 
                ./mvnw -ntp -P-webapp verify --batch-mode -Dlogging.level.ROOT=OFF -Dlogging.level.org.zalando=OFF -Dlogging.level.tech.jhipster=OFF -Dlogging.level.za.co.dearx.leave=OFF -Dlogging.level.org.springframework=OFF -Dlogging.level.org.springframework.web=OFF -Dlogging.level.org.springframework.security=OFF
    package:
        name: Package
        needs: [test-fe, test-be]
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]')"
        timeout-minutes: 20
        env:
            SPRING_OUTPUT_ANSI_ENABLED: DETECT
            SPRING_JPA_SHOW_SQL: false
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v1
              with:
                  java-version: '11.x'
            - name: Package using Maven
              run: |
                chmod +x mvnw
                ./mvnw -ntp package -Pprod -DskipTests --batch-mode
            - name: Log into DeARX Azure Container Registry
              uses: Azure/docker-login@v1
              if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
              with:
                username: ${{ secrets.ACR_USERNAME }}
                password: ${{ secrets.ACR_PASSWORD }}
                login-server: dearxcontainerregistry.azurecr.io
            - name: Build and publish docker image
              if: github.event_name == 'push' && (github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
              run: |
                GIT_TAG=:${GITHUB_REF#refs/tags/}
                DOCKER_TAG=${GIT_TAG#:refs/heads/main}
                ./mvnw -ntp jib:build -Djib.to.image=leave-application${DOCKER_TAG}
